

    <section class="page-title-breadcrumb">
        <div class="container flex-container">
            <div class="breadcrumb">
                <h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="/">Home</a> » राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।</div>
            </div>
        </div>
    </section>

    <section class=" introduction" style="margin-top:25px">
        <div class="container">
            <div class="row" style="margin-bottom:36px">
                <div class="col-xs-12 col-sm-12 col-md-12{9">
                    <div class="intro">
                        <h3 class="section-title border">
                            <span>
                                राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।
                            </span>
                        </h3>

                    </div>

                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="content">
                                <div id="node-854" class="node node-photo-gallery node-full clearfix" about="/content/%E0%A4%B0%E0%A4%BE%E0%A4%B7%E0%A5%8D%E0%A4%9F%E0%A5%8D%E0%A4%B0%E0%A4%BF%E0%A4%AF-%E0%A4%AA%E0%A4%B0%E0%A4%BF%E0%A4%9A%E0%A4%AF%E0%A4%AA%E0%A4%A4%E0%A5%8D%E0%A4%B0-%E0%A4%B8%E0%A4%BE%E0%A4%AE%E0%A4%BE%E0%A4%9C%E0%A4%BF%E0%A4%95-%E0%A4%B8%E0%A5%81%E0%A4%B0%E0%A4%95%E0%A5%8D%E0%A4%B7%E0%A4%BE-%E0%A4%A4%E0%A4%A5%E0%A4%BE-%E0%A4%B5%E0%A5%8D%E0%A4%AF%E0%A4%95%E0%A5%8D%E0%A4%A4%E0%A4%BF%E0%A4%97%E0%A4%A4-%E0%A4%98%E0%A4%9F%E0%A4%A8%E0%A4%BE-%E0%A4%A6%E0%A4%B0%E0%A5%8D%E0%A4%A4%E0%A4%BE-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%A3%E0%A4%BE%E0%A4%B2%E0%A5%80-%E0%A4%B8%E0%A4%AE%E0%A5%8D%E0%A4%AC%E0%A4%A8%E0%A5%8D%E0%A4%A7%E0%A5%80-%E0%A4%9B%E0%A4%B2%E0%A4%AB%E0%A4%B2-%E0%A4%A4%E0%A4%A5%E0%A4%BE" typeof="sioc:Item foaf:Document">

                                    <span property="dc:title" content="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="rdf-meta element-hidden"></span>
                                    <div class="meta submitted">
                                        Submitted on: <span property="dc:date dc:created" content="2021-06-30T16:56:31+05:45" datatype="xsd:dateTime">Wed, 06/30/2021 - 16:56</span>
                                    </div>
                                    <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/1_77.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/1_77.jpg?itok=Y3dben4l" width="220" height="147" alt="" title=""></a></div><div class="field-item odd"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/2_73.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/2_73.jpg?itok=AMj_1o9M" width="220" height="147" alt="" title=""></a></div><div class="field-item even"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/3_67.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/3_67.jpg?itok=4Hh2fts5" width="220" height="147" alt="" title=""></a></div><div class="field-item odd"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/4_71.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/4_71.jpg?itok=7JcFXzB8" width="220" height="147" alt="" title=""></a></div><div class="field-item even"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/5_69.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/5_69.jpg?itok=ubpFdthf" width="220" height="147" alt="" title=""></a></div><div class="field-item odd"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/8_58.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/8_58.jpg?itok=uBdSMFCE" width="220" height="147" alt="" title=""></a></div><div class="field-item even"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/9_57.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/9_57.jpg?itok=zCOPWT6Q" width="220" height="147" alt="" title=""></a></div><div class="field-item odd"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/10_53.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/10_53.jpg?itok=djP6KGdl" width="220" height="147" alt="" title=""></a></div><div class="field-item even"><a href="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/11_47.jpg" title="राष्ट्रिय परिचयपत्र, सामाजिक सुरक्षा तथा व्यक्तिगत घटना दर्ता प्रणाली सम्बन्धी छलफल तथा अन्तरक्रिया कार्यक्रमका केही झलकहरु।" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-JX7aLZHKkAo" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/medium/public/11_47.jpg?itok=LLEiT9ZF" width="220" height="147" alt="" title=""></a></div></div></div>
                                 


                                 

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                    </div>

                </div>
                <!--	-->


            </div>




        </div>

    </section>

  