@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>


    <section class="page-title-breadcrumb">
        <div class="container flex-container">
            <div class="breadcrumb">
                <h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="~/">Home</a> » प्राय सोधिने प्रश्नहरु ।</div>
            </div>
        </div>
    </section>

    <section class=" introduction" style="margin-top:25px">
        <div class="container">
            <div class="row" style="margin-bottom:36px">
                <div class="col-xs-12 col-sm-12 col-md-12{9">
                    <div class="intro">
                        <h3 class="section-title border">
                            <span>
                                प्राय सोधिने प्रश्नहरु ।
                            </span>
                        </h3>

                    </div>

                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="content">
                                <div class="view view-faq view-id-faq view-display-id-page view-dom-id-8c0dd8f87d2ae598044f494172c93c5f">



                                    <div class="view-content">

                                        <div class="views-row views-row-1 views-row-odd views-row-first">

                                            <div class="views-field views-field-title">        <span class="field-content"><a href="">जन्म-दर्ता-प्रमाणपत्र-सेवा-प्राप्त-गर्न-पेश-गर्नुपर्ने-कागजातहरु-के-के-हुन्?  </a></span>  </div>
                                            <div class="views-field views-field-body">
                                                <div class="field-content">
                                                    <p>
                                                        १.जन्मको अनुसूची–२ (नियम ५ संग सम्बन्धित) बमोजिमको
                                                        सूचना फाराम (भरेको हुनुपर्ने)
                                                    </p>
                                                    <p>२.आमा/बाबुको विवाहदर्ताको प्रतिलिपि</p>
                                                    <p>३.आमा/बाबुको नेपाली नागरिकताको प्रमाण पत्र प्रतिलिपि</p>
                                                    <p>४.सूचकको नेपाली नागरिकता प्रमाण पत्रको प्रतिलिपि</p>
                                                    <p>
                                                        ५.कर्मचारीको छोराछोरीको हकमा सम्बन्धित कार्यालयको
                                                        सिफारिस
                                                    </p>
                                                    <p>६.आमा-बाबु बसाई सराई भै आएको भए सोको प्रतिलिपि</p>
                                                    <p>७.अस्पतालमा जन्मिएको भए सोको प्रमाणको प्रतिलिपि</p>
                                                    <p>8.वडाको किटानी सिफारिस</p>
                                                    <p>९.दस्तुर न.पा.को नियमानुसार</p>
                                                    <p>
                                                        १०.माथि उल्लेखित प्रक्रिया पुरा भएपछि अनुसूची–१२
                                                        अनुसारको प्रमाण–पत्र उपलब्ध गराईनेछ
                                                    </p>
                                                    <p>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="views-row views-row-1 views-row-odd views-row-first">

                                            <div class="views-field views-field-title">        <span class="field-content"><a href="">नयाँँ घर नक्सा दर्तागर्नको लागि चाहिने आवश्यक कागजातहरु</a></span>  </div>
                                            <div class="views-field views-field-body">
                                                <div class="field-content">
                                                    <p>१. निबेदन फाराम&nbsp;</p>
                                                    <p>२. जग्गाधनी दर्ता प्रमाण पुर्जा</p>
                                                    <p>३. नागरिकताको प्रमाणपत्रको प्रतिलिपि</p>
                                                    <p>४.कि.नं प्रष्ट भएको नापी नक्सा ( ब्लु&nbsp;प्रिन्ट ) सक्कल</p>
                                                    <p>५.&nbsp; नक्सा पास गरिने घरको नक्साको प्रतिलिपि&nbsp;</p>
                                                    <p>६. चालु आ.वको सम्पति कर तिरेको रसिदको प्रतिलिपि</p>
                                                    <p>७. जग्गा कुनै निकायमा धितोको लागि रशेको भए सम्बन्धित निकायबाट स्वीकृति पत्र</p>
                                                    <p>८. नक्सवाला मोही भएमा जग्गाधनी वा गुठीको स्वीकृतिपत्र</p>
                                                    <p>९. वारेश राखी नक्सा पास गर्न वा वारेशनामा र वरिशको नागरिकताको प्रमंपत्रको प्रतिलिपि&nbsp;</p>
                                                    <p>१०.भवन निर्माण हुने जग्गाको बाटो प्रष्ट नभएमावडा कार्यालयको बाटो कायम भएको सिफारिस&nbsp;</p>
                                                    <p>११.डिजाइनरको NEC प्रमाणपत्र नगरपालिकामा सुचिकृत भएको प्रमंपत्रको प्रतिलिपि</p>
                                                    <p>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-row views-row-2 views-row-even views-row-last">

                                            <div class="views-field views-field-title">        <span class="field-content"><a href="">   घरजग्गा-नामसारी-सिफारिस-सेवा-प्राप्त-गर्न-पेश-गर्नुपर्ने-कागजातहरु-के-के-हुन्?</a></span>  </div>
                                            <div class="views-field views-field-body">
                                                <div class="field-content">

                                                    <p>१.मृत्यु दर्ता प्रमाण पत्र प्रतिलिपि</p>
                                                    <p>२.नाता प्रमाणित प्रमाण पत्र सिफारिस प्रतिलिपि</p>
                                                    <p>३.नेपाली नागरिकता प्रमाण पत्र प्रतिलिपि/१६ बर्ष नपुगेकाको हकमा जन्मदर्ता प्रमाणपत्रको प्रतिलिपि,</p>
                                                    <p>४.अंशबन्डा भए बण्डापत्रको प्रतिलिपि</p>
                                                    <p>५.जग्गाधनी प्रमाण पुर्जाको प्रतिलिपि तथा सक्कल नागरिकता प्रमाणपत्र</p>
                                                    <p>६.वडा सचिवको किटानी सिफारिस</p>
                                                    <p>७.गत बर्षसम्म न.पा. लाई सम्पुर्ण कर बुझाएको प्रमाण</p>
                                                    <p>८.स्थलगत वडा सर्जमिन मुचुल्का</p>
                                                    <p>९.व्यवसाय दर्ता प्रमाण पत्र प्रतिलिी (व्यावसायको हकमा) घर बहाल कर तिरेको रसिद</p>

                                                    <p>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="views-row views-row-2 views-row-even views-row-last">

                                        <div class="views-field views-field-title">        <span class="field-content"><a href="">   नेपाली नागरिकता प्रमाणपत्रको सिफारिस प्राप्त गर्न पेश गर्नुपर्ने कागजातहरु के के हुन ?</a></span>  </div>
                                        <div class="views-field views-field-body">
                                            <div class="field-content">

                                                <p>१.प्रति नागरिकताको फाराम कालोमसिले भरि दुवै कान देखिने फोटो टाँस गरेको फाराम भरी</p>
                                                <p>२.सनाखत गर्नजाने व्यक्तिको नागरिकता (तीनपुस्ते नाता खोलिएको)</p>
                                                <p>३.जन्म दर्ता</p>
                                                <p>४.शैक्षिक योग्यताको प्रमाण–पत्रविवाह दर्ता, बसाईसराई दर्ता</p>
                                                <p>५.अस्थायी निस्सा</p>

                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="views-row views-row-2 views-row-even views-row-last">

                                    <div class="views-field views-field-title">        <span class="field-content"><a href="">   सम्पति कर तिर्नको लागि आवश्&zwj;यक कागजातहरु के के हुन्?</a></span>  </div>
                                    <div class="views-field views-field-body">
                                        <div class="field-content">

                                            <p>१.नागरिकताको प्रतिलिपि></p>
                                            <p>२.मण्डनदेउपुर नगरपालिका भित्र भएका सम्पुर्ण घर तथा जग्गाको लालपुर्जाको प्रतिलिपि तथा सक्&zwj;कल</p>
                                            <p>३.नक्शा पास भएको हकमा घरको नक्शा पास प्रमाण पत्र तथा प्रतिलिपि</p>
                                            <p>४.विगतमा मालपोत तिरेको रसिद</p>

                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="views-row views-row-1 views-row-odd views-row-first">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="">जन्म-दर्ता-प्रमाणपत्र-सेवा-प्राप्त-गर्न-पेश-गर्नुपर्ने-कागजातहरु-के-के-हुन्?  </a></span>  </div>
                                <div class="views-field views-field-body">
                                    <div class="field-content">
                                        <p>
                                            १.जन्मको अनुसूची–२ (नियम ५ संग सम्बन्धित) बमोजिमको
                                            सूचना फाराम (भरेको हुनुपर्ने)
                                        </p>
                                        <p>२.आमा/बाबुको विवाहदर्ताको प्रतिलिपि</p>
                                        <p>३.आमा/बाबुको नेपाली नागरिकताको प्रमाण पत्र प्रतिलिपि</p>
                                        <p>४.सूचकको नेपाली नागरिकता प्रमाण पत्रको प्रतिलिपि</p>
                                        <p>
                                            ५.कर्मचारीको छोराछोरीको हकमा सम्बन्धित कार्यालयको
                                            सिफारिस
                                        </p>
                                        <p>६.आमा-बाबु बसाई सराई भै आएको भए सोको प्रतिलिपि</p>
                                        <p>७.अस्पतालमा जन्मिएको भए सोको प्रमाणको प्रतिलिपि</p>
                                        <p>8.वडाको किटानी सिफारिस</p>
                                        <p>९.दस्तुर न.पा.को नियमानुसार</p>
                                        <p>
                                            १०.माथि उल्लेखित प्रक्रिया पुरा भएपछि अनुसूची–१२
                                            अनुसारको प्रमाण–पत्र उपलब्ध गराईनेछ
                                        </p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </section>






</main>