@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>


    <section class="page-title-breadcrumb">
        <div class="container flex-container">
            <div class="breadcrumb">
                <h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="~/">Home</a> » <a href="" title="">परिचय</a> » संक्षिप्त परिचय</div>
            </div>
        </div>
    </section>

    <section class=" introduction" style="margin-top:25px">
        <div class="container">
            <div class="row" style="margin-bottom:36px">
                <div class="col-xs-12 col-sm-12 col-md-12{9">
                    <div class="intro">
                        <h3 class="section-title border">
                            <span>
                                संक्षिप्त परिचय
                            </span>
                        </h3>

                    </div>

                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="content">
                                <div id="node-3" class="node node-page node-sticky node-full clearfix" about="~/" typeof="foaf:Document">

                                    <span property="dc:title" content="संक्षिप्त परिचय" class="rdf-meta element-hidden"></span>
                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even" property="content:encoded">

                                                <h1>"मण्डनदेउपुर नगरपालिकामा तपाईलाई स्वागत छ l"   </h1>
                                                <div class="field-item even" property="content:encoded">
                                                    <p>मण्डनदेउपुर नगरपालिका नेपालको बागमती प्रदेश अन्तर्गत काभ्रेपलाञ्चोक जिल्लामा अवस्थित छ। नेपालको राजधानि काठमाडौंबाट उत्तर-पूर्वमा ५५ कि.मि. दुरीमा रहेको यस नगरपालिकाको क्षेत्रफल ८९ वर्ग कि.मि. रहेको छ। यस नगरपालिका साविक&nbsp; बालुवापाटी देउपुर, गैरीवीसौना देउपुर,नयाँगाउँ देउपुर, महादेवस्थान मण्डन, चण्डेनी मण्डन, जैसीथोक मण्डन र ज्याम्दि मण्डन (१-४ , ६) गा.वि.स गरी सात गा.वि.स मिलेर सम्वत २०७३ साल फागुन २७ गते राजपत्रमा प्रकाशनपछि अस्तित्वमा आएको हो। यस नगरपालिकाको पूर्वमा भम्लु गाउँपालीका,पश्चिममा भक्तपुर र काठमाडौं, उत्तरमा सिन्धुपाल्चोक जिल्ला र दक्षिणमा बनेपा र पाँचखाल नगरपालिका रहेको छ।मध्यम पहाडी हावापानी भएको यस नगरपालिकालाई विभिन्न १२ वटा वडामा विभाजन गरिएको छ । यहाँको कुल जनसंख्या ३२,६५९ रहेको छ जसमा पु्रुष १५,३२० र महिला १७३३९ रहेका छन् साथै लैङ्गिक अनुपात ८८.३६ र जनघनत्व ३६७ प्रति वर्ग कि.मी. रहेको छ ।</p>
                                                    <p>यस नगरपालिकामा विशेष गरी हिन्दु, वौद्ध र इशाई धर्मावालम्वीहरुको बसोबास रहेको छ । यहाँ ब्राह्मण, क्षेत्री र तामाङ्ग जातिको बाहुल्यता रहेको छ । यहाँका नागरिकहरुले कृषि, पशुपालन र व्यापारलाई र पर्यटन व्यवसायलाई मुख्य पेशाको रुपमा अँगाल्दै आएका छन् । धुलिखेल, बनेपा र काठमाडौं उपत्यकाबाट नजिक रहेकोले यस नगरपालिकाको आर्थिक, सामाजिक तथा साँस्कृतिक विकासमा प्रत्यक्ष सकारात्मक प्रभाव परेको छ । यहाँ उत्पादन हुने कृषिजन्य तथा पशुजन्य उपजहरु तिनै बजार क्षेत्रमा बढी खपत र विक्री हुने गरेको छ । भौगोलिक रुपमा मध्यम स्तरीय पहाडी धरातल रहेको यस नगरमा मानव बसोबास र पर्यटन व्यवसायको लागि अति उपयुक्त स्थानहरु रहेका छन् । मण्डनदेउपुर काभ्रे जिल्लाकै सबैभन्दा कान्छो नवगठित नगरपालिका भएकोले यसलाई एक सक्षम नगरपालिकाको रुपमा स्थापना गर्ने चुनौति&nbsp; समग्र नगरवासी तथा सरकारी र गैरसरकारी निकायहरुको काँधमा आई परेको छ । यहाँ भएका सम्भावनाहरुलाई अवसरको रुपमा परिणत गर्न र यहाँ रहेका समस्याहरुको न्यूनीकरण गर्ने क्रममा योजनावद्ध तवरबाट लाग्नु पर्ने आवश्यकता छ ।</p>
                                                    <p>नगरसम्बन्धी&nbsp;अन्य जानकारीको लागि&nbsp;&nbsp;कृपया <span style="font-size:14px"><strong><a href="/contact/contactn">यहाँ</a></strong></span> क्लिक गनुहोस&nbsp;।</p>
                                                </div>
                                            </div>

                                            <div class="link-wrapper">
                                                <ul class="links inline">
                                                    <li class="translation_en first last"><a href="/about/BriefEnglish" title="Brief Introduction" class="translation-link" xml:lang="en">English</a></li>
                                                </ul>
                                            </div>



                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                    </div>

                </div>
                <!--	-->


            </div>

</div>


        </div>

    </section>

    <section style="margin-top:20px">

        <div id="blocks-wrapper">
            <div class="container">
                <div class="row">

                    <div id="workflow" class="clearfix">
                        <div class="col-md-3"><div class="sidebar"></div></div>
                        <div class="col-md-3"><div class="sidebar"></div></div>
                        <div class="col-md-3"><div class="sidebar"></div></div>
                        <div class="col-md-3"><div class="sidebar"></div></div>
                    </div>

                    <div id="triptych" class="clearfix">
                        <div class="col-md-3"><div class="sidebar"></div></div>
                        <div class="col-md-3"><div class="sidebar"></div></div>
                        <div class="col-md-3"><div class="sidebar"></div></div>
                        <div class="col-md-3"><div class="sidebar"></div></div>
                    </div>

                </div>
            </div> <!-- /#page, /#page-wrapper -->
        </div> <!-- /#triptych, /#blocks-wrapper -->


    </section>






</main>