@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title-breadcrumb">
    <div class="container flex-container">
        <div class="breadcrumb">
            <h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="~/">Home</a> » <a href="" title="">परिचय</a> » श्रोत नक्सा</div>
        </div>
    </div>
</section>

<section class=" introduction" style="margin-top:25px">
    <div class="container">
        <div class="row" style="margin-bottom:36px">
            <div class="col-xs-12 col-sm-12 col-md-12{9">
                <div class="intro">
                    <h3 class="section-title border">
                        <span>
                            श्रोत नक्सा
                        </span>
                    </h3>

                </div>

                <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div class="view view-slider view-id-slider view-display-id-page_1 view-dom-id-f5e8da1262d8cbc12840a6262ff1a0cc">



                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                        <div class="views-field views-field-title">        <strong class="field-content"><a href="/content/%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE%E0%A4%95%E0%A5%8B-%E0%A4%A8%E0%A4%95%E0%A5%8D%E0%A4%B6%E0%A4%BE">नगरपालिकाको नक्शा</a></strong>  </div>
                                        <div class="views-field views-field-created">    <span class="views-label views-label-created">मिति: </span>    <span class="field-content">05/19/2019 - 11:22</span>  </div>
                                        <div class="views-field views-field-field-image">        <div class="field-content"><a href="/h/MDs.jpg" title="नगरपालिकाको नक्शा" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-all-CsY87csEmrk" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="https://www.mandandeupurmun.gov.np/sites/mandandeupurmun.gov.np/files/styles/thumbnail/public/Madan-deupur.jpg?itok=LIQzmmQp" width="100" height="70" alt="" title=""></a></div>  </div>
                                        <div class="views-field views-field-body">
                                            <div class="field-content">
                                                <p><img alt="" src="/h/Md.jpg" style="height:590px; width:848px"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs">
                </div>

            </div>
            <!--    -->


        </div>




    </div>

</section>