@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-title-breadcrumb">
    <div class="container flex-container">
        <div class="breadcrumb">
            <h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="~/">Home</a> » <a href="" title="">परिचय</a> » महत्वपूर्ण स्थानहरु</div>
        </div>
    </div>
</section>

<section class=" introduction" style="margin-top:25px">
    <div class="container">
        <div class="row" style="margin-bottom:36px">
            <div class="col-xs-12 col-sm-12 col-md-12{9">
                <div class="intro">
                    <h3 class="section-title border">
                        <span>
                            महत्वपूर्ण स्थानहरु
                        </span>
                    </h3>

                </div>

                <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div id="node-200" class="node node-page node-full clearfix" about="/%E0%A4%AE%E0%A4%B9%E0%A4%A4%E0%A5%8D%E0%A4%B5%E0%A4%AA%E0%A5%82%E0%A4%B0%E0%A5%8D%E0%A4%A3-%E0%A4%B8%E0%A5%8D%E0%A4%A5%E0%A4%BE%E0%A4%A8%E0%A4%B9%E0%A4%B0%E0%A5%81" typeof="foaf:Document">

                                <span property="dc:title" content="महत्वपूर्ण स्थानहरु" class="rdf-meta element-hidden"></span>
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <h6><strong><u>पार्कहरु तथा पिकनिक स्पट</u></strong></h6>
                                            <p>१. गैरीचौर</p>
                                            <p>२. थामीडाँडा</p>
                                            <p>३. नगरकोट</p>
                                            <p>४. ठुलो चौर</p>
                                            <p>५. जितौरी पोखरी</p>
                                            <p>६. बुद्धस्तुपा</p>
                                            <p>&nbsp;</p>
                                            <h3><strong><u>धार्मिक पर्यटकीय स्थलहरु</u></strong></h3>
                                            <table border="0" cellpadding="1" cellspacing="1">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">धार्मिक स्थलको नाम</th>
                                                        <th scope="col">मेला लाग्ने दिन</th>
                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>कश्यपेश्&zwj;वर महादेव मन्दिर</td>
                                                        <td>श्रावण महिना, तिज, शिवरात्री</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ब्रह्मायणी देवी मन्दिर</td>
                                                        <td>फागु पुर्णिमा, बडा दशैँ</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>श्री कृष्ण मन्दिर</td>
                                                        <td>श्री कृष्ण जन्म अष्&zwj;टमी</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>गणेश मन्दिर नयाँगाउँ</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>कालीदेवी मन्दिर</td>
                                                        <td>बडा दशैँ,&nbsp; अष्&zwj;टमी</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>माने डाँडा गुम्बा</td>
                                                        <td>बुद्ब जयन्ति</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            त्रीनेत्रेश्&zwj;वर तथा त्रीलिङ्गेश्&zwj;वर महादेव मन्दिर
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table><p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>
